BREVO_API_KEY=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
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=false
EMAIL_HOST_USER=apikey
DEFAULT_FROM_EMAIL=citycollegeofbayawan@gmail.com
CONTACT_INBOX=citycollegeofbayawan@gmail.com
FRONTEND_BASE_URL=http://localhost:3000
PUBLIC_BASE_URL=http://localhost:5000
JWT_SECRET=
ADMIN_SETUP_KEY=
LOCAL_ADMIN_USERNAME=localadmin
LOCAL_ADMIN_PASSWORD=localadmin123
# Just remove the values for local development. For production, set these again the values.
CLOUDINARY_CLOUD_NAME=dvodewe6g
CLOUDINARY_API_KEY=618824283564593
CLOUDINARY_API_SECRET=cJGnBgAJGxxDU2bR9-UYx9sGiPA

# PostgreSQL Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=
PGDATABASE=ccb_portal_db
