services:
  # Node Backend Web Service
  - type: web
    name: ccb-eacademy-backend
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: "cd backend && npm install"
    startCommand: "cd backend && node server.js"
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUBLIC_BASE_URL
        sync: false
        value: "https://ccb-eacademy-backend.onrender.com"
      - key: FRONTEND_BASE_URL
        sync: false
        value: "https://ccb-eacademy.onrender.com"
      - key: BREVO_API_KEY
        sync: false
      - key: DEFAULT_FROM_EMAIL
        value: "citycollegeofbayawan@gmail.com"
      - key: CONTACT_INBOX
        value: "citycollegeofbayawan@gmail.com"
      - key: EMAIL_HOST_USER
        value: "apikey"
      - key: DATABASE_URL
        sync: false
      
  # React Frontend Static Site
  - type: web
    name: ccb-eacademy
    env: static
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    staticPublishPath: build
    envVars:
      - key: REACT_APP_API_URL
        sync: false
        value: "https://ccb-eacademy-backend.onrender.com"
      - key: CI
        value: "false"
      - key: GENERATE_SOURCEMAP
        value: "false"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
